<div id="upload" class="panel">
    <fieldset>
        <div class="panel-group">
            <label for="uploadFile">Choose images to upload (XLSX)</label>
            <input type="file" id="uploadFile" name="file" accept=".xlsx" #input (change)="uploadSpreadsheet(input, preview)" required>
            <div class="preview" #preview>
                <p>No files currently selected for upload</p>
            </div>
        </div>
        <div *ngIf="workbook" class="panel-group">
            <div class="col-md-10">
                <button type="button" class="btn btn-warning" (click)="uploadTokens()">Generate Tokens <span class="glyphicon glyphicon-upload"></span></button>
            </div>
        </div>
    </fieldset>
</div>
