<div> <img src="images/Logo/OmnicellLogo.png"> <img src="images/Logo/PocketNurseLogo.png"> </div>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a class="btn btn-default" href="https://www.omnicell.com/Products/Pharmacy_Automation/Robotic_Pharmacy_Systems/XR2_Automated_Central_Pharmacy_System.aspx">
                <img src="images/Banner/hbanner_better_ways.jpg" alt="Connect with care" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.omnicell.com/Products.aspx">
                <img src="images/Banner/hbanner-WeSeePower_of_Health-off.png" alt="Power of health" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.omnicell.com/Products/IV_Solutions/IVX_Workflow.aspx">
                <img src="images/Banner/hbanner_beyond.jpg" alt="Beyond" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.omnicell.com/Products/Medication_Dispensing/Automated_Medication_Dispensing/Omnicell_XT_Automated_Dispensing_Cabinets.aspx">
                <img src="images/Banner/hbanner-WeSeeBetter_Way-off.png" alt="Better way" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.omnicell.com/Products/Performance_Center.aspx">
                <img src="images/Banner/hbanner-WeSeePerformance_Optimized-off.png" alt="Optized" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.pocketnurse.com/">
                <img src="images/Banner/PocketNurseHelp.jpg" alt="Optized" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.pocketnurse.com/index.php/default/privacy-curtain-sizing-form/">
                <img src="images/Banner/PockerNurseCurtains.jpg" alt="Optized" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.pocketnurse.com/index.php/default/products/demo-dose.html">
                <img src="images/Banner/PocketNurseIV.jpg" alt="Optized" class="img-responsive" />
            </a>
        </div>
        <div class="item">
            <a class="btn btn-default" href="https://www.pocketnurse.com/">
                <img src="images/Banner/PocketNurseNational.jpg" alt="Optized" class="img-responsive" />
            </a>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container">
    <div class="intro">
        <h1>We see a <span>unified</span> solution.</h1>
        <p>At Omnicell&reg;, our portfolio of products driven by the premier medication and supply automation enterprise platform works together to integrate data, improve visibility to analytics, and streamline pharmacy and nursing workflows.  The insights gained through our software and technology solutions deliver actionable information designed to help improve patient and business outcomes.</p>
    </div>
</div>
